
body {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  display: -webkit-flex;
  display: flex;
  width: 75px;
  pointer-events: none;
  border: 1px solid #BCBAAE;
}

.tooltip p{
	margin: 0.5em;
}